*{
	font-family: sans-serif;
}
h1{
	font-weight: bolder;
	color: grey;
	margin: 5px 5px 5px 5px;
}
h3{
	font-weight: bolder;
	color : blue;

}
h4{
	font-weight: bolder;
	color : #4A235A;
	
}